[Unit]
Description=Oracle Core v2.0
Documentation=https://github.com/ergoplatform/oracle-core

[Service]
Type=simple
# Config file is in ~/.config/oracle-core/
ExecStart=bash -c "cd ~/.config/oracle-core; ~/.cargo/bin/oracle-core run"
Restart=on-failure

[Install]
WantedBy=default.target
